<hr>
<h2 *ngIf="producer">Vos produits :</h2>
<div class="row" *ngIf="producer">
  <div class="col s12 ">

      <ul class="col s2">
        <div class="card">
          <a (click)="toggleAddProductForm()">
          <div class="card-image waves-effect waves-block waves-light" *ngIf="!showAddProductForm">
              <img class="activator" src="../../../assets/add.png"> 
            </div>
          </a>
          <div class="card-content" *ngIf="!showAddProductForm">
            <span class="card-title activator grey-text text-darken-4">
              Ajouter un produit
            </span>
          </div>
          <div *ngIf="showAddProductForm" class="card-content white-text">
            <span class="card-title grey-text text-darken-4">Ajouter un produit</span>
            <form (ngSubmit)="addNewProduct()">
              <input type="text" name ="Nom" placeholder="Nom du produit">
              <input type="text" name="Quantite" placeholder="Quantité">
              <input type="text" name="Prix" placeholder="Prix">
              <app-file-upload></app-file-upload>
              <br><br><br><br><br><br><br>
              <button type="submit">Ajouter</button>
              <button type="button" (click)="toggleAddProductForm()">Annuler</button>
          </form>
          </div>
        </div>
      </ul>
      <ul class="col s2">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" >
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"></span>
            <p><a href="#">plus d'informations</a></p>
          </div>
          <div class="card-action">
            <a href="#">Producteurs</a>
          </div>
        </div>
      </ul>
  </div>
</div>