<!-- products-management.component.html -->
<hr>
<h2 *ngIf="producer">Ajouter un produit</h2>
<div class="row" *ngIf="producer">
  <div class="col s12">
    <!-- Card for adding a new product -->
    <div class="col s2">
      <div class="card">
        <a (click)="toggleAddProductForm()">
          <div class="card-image waves-effect waves-block waves-light" *ngIf="!showAddProductForm">
            <img class="activator" src="../../../assets/add.png" alt="Add Product">
          </div>
        </a>
        <div class="card-content" *ngIf="!showAddProductForm">
          <span class="card-title activator grey-text text-darken-4">Ajouter un produit</span>
        </div>
        <div *ngIf="showAddProductForm" class="card-content white-text">
          <span class="card-title grey-text text-darken-4">Ajouter un produit</span>
          <form (ngSubmit)="addNewProduct()" #newProductForm="ngForm">
            <div>
              <label for="category">Catégorie</label>
              <mat-form-field appearance="fill">
                <mat-select name="category" id="category" (selectionChange)="onCategoryChange($event)" required style="color: black;">
                  <mat-option value="" disabled selected >Select text</mat-option>
                  <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <label for="product">Produit</label>
              <mat-form-field appearance="fill">
                <mat-select id="product" name="product" [(ngModel)]="productId" (selectionChange)="onProductChange($event)" required style="color: black;">
                  <mat-option *ngFor="let product of products" [value]="product.name">{{ product.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <input type="number" name="quantity" ngModel [(ngModel)]="quantity" placeholder="Quantité" required>
            <input type="number" name="price" ngModel [(ngModel)]="price" placeholder="Prix" required>
            <button type="submit" [disabled]="newProductForm.invalid">Ajouter</button>
            <button type="button" (click)="toggleAddProductForm()">Annuler</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
