<div class="login-container">
    <div class="login-card">
        <div class="login-card_title">
            <h1>Connectez-vous</h1>
            <span>Vous n'avez pas encore un compte? <a href="/signup">Inscrivez-vous</a></span>
        </div>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
            <input placeholder="Nom d'utilisateur*" id="first_name" type="text" class="validate" [(ngModel)]="username" name="username" formControlName="usernameValid" required>
            <div id="first_name_error" class="form-error" *ngIf="loginForm.get('usernameValid')?.touched && !loginForm.get('usernameValid')?.valid">
                <div *ngIf="loginForm.get('usernameValid')?.errors?.['required']">Nom d'utilisateur requis</div>
            </div>
            <input placeholder="Mot de passe*" id="password" type="password" class="validate" [(ngModel)]="password" name="password" formControlName="passwordValid" required>
            <div id="password_error" class="form-error" *ngIf="loginForm.get('passwordValid')?.touched && !loginForm.get('passwordValid')?.valid">
                <div *ngIf="loginForm.get('passwordValid')?.errors?.['required']">Mot de passe requis</div>
                <div *ngIf="loginForm.get('passwordValid')?.errors?.['minlength']">Le mot de passe doit être de 8 charactères minimum</div>
            </div>
            <div class="button-holder">
                <button type="submit" name="action" [disabled]="!loginForm.valid">Se connecter</button>
            </div>
        </form>
    </div>
</div>
