<div class="signup-container">
    <div class="signup-card">
        <div class="signup-card_title">
            <h1>Crée un compte</h1>
            <span>Vous avez déjà un compte? <a href="/login">Connectez-vous</a></span>
        </div>
        <div class="signup-form">
            <form [formGroup]="signupForm" (submit)="signup()">
                <input placeholder="Nom d'utilisateur*" id="first_name" type="text" [(ngModel)]="username" name="username" formControlName="usernameValid" required>
                <div class="form-error" *ngIf="signupForm.get('usernameValid')?.touched && !signupForm.get('usernameValid')?.valid">
                    <div *ngIf="signupForm.get('usernameValid')?.errors?.['required']">Nom d'utilisateur requis</div>
                </div>
                <input placeholder="Email" id="email" type="email" [(ngModel)]="email" name="email" formControlName="emailValid" required>
                <div class="form-error" *ngIf="signupForm.get('emailValid')?.touched && !signupForm.get('emailValid')?.valid">
                    <div *ngIf="signupForm.get('emailValid')?.errors?.['required']">Email requis</div>
                    <div *ngIf="signupForm.get('emailValid')?.errors?.['email'] && !signupForm.get('emailValid')?.errors?.['required']">Email invalide</div>
                </div>
                <input placeholder="Mot de passe*" id="password" type="password" [(ngModel)]="password" name="password" formControlName="passwordValid" required>
                <div class="form-error" *ngIf="signupForm.get('passwordValid')?.touched && !signupForm.get('passwordValid')?.valid">
                    <div *ngIf="signupForm.get('passwordValid')?.errors?.['required']">Mot de passe requis</div>
                    <div *ngIf="signupForm.get('passwordValid')?.errors?.['minlength']">Le mot de passe doit être de 8 charactères minimum</div>
                </div>
                <div class="button-holder">
                    <button type="submit" name="action" [disabled]="!signupForm.valid">S'enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>
